* {
    margin: 0;
    padding: 0;
    background-color:blueviolet;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 10% auto 10%; 
    grid-gap: 20px 10px;

  }

.reel{
    overflow-y: scroll;
    display:inline-block;
    height: 4em;
    width: 1.5em;
    font-size: 3em;
    background-color: green;
    overflow: hidden;
}

.a {
    grid-area: 2 / 2 / span 1 / span 1;   
}

.b {
    grid-area: 2 / 4 / span 1 / span 1;   
}

.c {
    grid-area: 2 / 6 / span 1 / span 1;   
}

.d {
    grid-area: 3 / 3 / span 1 / span 1;   
}

.e {
    grid-area: 3 / 4 / span 1 / span 1;   
}

.f {
    grid-area: 4 / 1 / span 1 / span 1;   
}

.g {
    grid-area: 4 / 2 / span 1 / span 1;   
}

.h {
    grid-area: 4 / 4 / span 1 / span 1;   
}

.i {
    grid-area: 4 / 6 / span 1 / span 1;   
}

.j {
    grid-area: 5 / 2 / span 1 / span 1;   
}

.k {
    grid-area: 5 / 4 / span 1 / span 1;   
}

.l {
    grid-area: 5 / 6 / span 1 / span 1;   
}

.m {
    grid-area: 6 / 2 / span 1 / span 1;   
}
.m {
    grid-area: 6 / 2 / span 1 / span 1;   
}
.n {
    grid-area: 6 / 4 / span 1 / span 1;   
}

.nudge,
.hold,
.play {
    border: 0px solid blue;
    outline: none; /* Remove outline */
    background-color: red; Set a background color
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 40px; /* Increase font size */
    box-shadow: 2px 2px 2px #AAAAAA;  /* create a 'drop shadow' for a 3d/floating look */
    text-align: center;
}

.money{
    font-size: 30px;
}

#screen {
    font-size: 20px;
}

